<form method="post" action="{{ path('guest_response_delete', {'id': guest_response.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guest_response.id) }}">
    <button class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
</form>
