{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit GuestResponse{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit GuestResponse{% endtrans %}</h1>

    {% if guest_response.image is not empty %}
        <img src="{{ asset(guest_response.image) }}" width="300">
    {% endif %}

    {{ include('guest_response/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('guest_response/_delete_form.html.twig') }}
{% endblock %}
