{% extends 'base.html.twig' %}

{% block title %}{% trans %}GuestBook{% endtrans %}{% endblock %}

{% set locale = app.request.getLocale() %}

{% block body %}

{{ form_start(sorting_form) }}
    {{ form_widget(sorting_form) }}
{{ form_end(sorting_form) }}

<table class="table mt-3 mb-3 table-striped">
    <thead class="thead-dark">
        <tr>
            <th>{% trans %}Image{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Email{% endtrans %}</th>
            <th>{% trans %}Text{% endtrans %}</th>
            <th>{% trans %}Date{% endtrans %}</th>

            {% if is_own %}
                <th>{% trans %}Status{% endtrans %}</th>
                <th>{% trans %}Action{% endtrans %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for guest_response in guest_responses %}
        <tr>
            <td>
                {% if guest_response.image is not empty %}
                    <img src="{{ asset(guest_response.image) }}" width="50">
                {% endif %}
            </td>
            <td>{{ guest_response.getAuthorName() }}</td>
            <td>{{ guest_response.getAuthorEmail() }}</td>
            <td>{{ guest_response.getLocaleText(locale) | raw }}</td>
            <td>{{ guest_response.createdAt ? guest_response.createdAt|date('H:i (j/m/y)') : '' }}</td>

            {% if is_own %}
            <td>{{ guest_response.status }}</td>
            <td>
                <a href="{{ path('guest_response_edit', {"id": guest_response.id}) }}">{% trans %}Edit{% endtrans %}</a><br>
                {{ include('guest_response/_delete_form.html.twig') }}
            </td>
            {% endif %}

        </tr>
        {% else %}
        <tr>
            <td colspan="3">{% trans %}Nothing found{% endtrans %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(guest_responses) }}
</div>

<a href="{{ path('guest_response_new') }}" class="btn btn-success">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
