{% extends 'base.html.twig' %}

{% block title %}{% trans %}New GuestResponse{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new GuestResponse{% endtrans %}</h1>

    {{ include('guest_response/_form.html.twig') }}

{% endblock %}
