{% extends 'base.html.twig' %}

{% block title %}{% trans %}Log in!{% endtrans %}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{% trans %}Please sign in{% endtrans %}</h1>
    <label for="inputEmail" >{% trans %}Email{% endtrans %}</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" c>{% trans %}Password{% endtrans %}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <input type="hidden" name="_csrf_token"
    value="{{ csrf_token('authenticate') }}"
    >

    <label >
        <input type="checkbox" name="_remember_me"> {% trans %}Remember me{% endtrans %}
    </label>
    <br>

    <button class="btn btn-primary" type="submit">
        {% trans %}Sign in{% endtrans %}
    </button>
    <a href="{{ url('forgot_password') }}" class="btn btn-default">{% trans %}Forgot Password{% endtrans %}</a>
</form>


{% endblock %}
