{% extends 'base.html.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Register{% endtrans %}</h1>

    {{ form_start(registrationForm) }}


    {{ form_end(registrationForm) }}
{% endblock %}
