{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}

<form method="post">

    <label for="inputEmail" >{% trans %}Email{% endtrans %}</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

    <button class="btn btn-primary mt-3" type="submit">
        {% trans %}Remind{% endtrans %}
    </button>
</form>


{% endblock %}
