{% extends 'base.html.twig' %}

{% block title %}{% trans %}Reset Password{% endtrans %}{% endblock %}

{% block body %}

<h1>{% trans %}New Password{% endtrans %}</h1>

{{ form_start(form) }}


{{ form_end(form) }}

{% endblock %}
