{% extends 'base-mail.html.twig' %}

{% block body %}
    <table>
        <tr>
            <td>
                {% trans %}If you are not request password reset, just ignore this message. Elsewere click on link below{% endtrans %}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url('reset_password', {'token': token}) }}">{% trans %}Click here to reset your password{% endtrans %}</a>
            </td>
        </tr>
    </table>
{% endblock %}
