<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table>
        <tr>
            <td><a href="{{ url('home') }}">{% trans %}Home{% endtrans %}</a></td>
        </tr>
        <tr>
            <td>
                {% block body %}{% endblock %}
            </td>
        </tr>
        <tr>
            <td>
                &copy; {% trans %}GuestBook{% endtrans %} {{ "now"|date('Y') }}
            </td>
        </tr>
    </table>
</body>
</html>
