{% set currentLocale = app.request.get('_locale') %}
<form data-component="locale-switcher" class="form-inline my-2 my-lg-0">
    <select class="form-control mr-sm-2">
        {% for key,value in params.langs %}
        {% set selected = currentLocale == key ? 'selected' : '' %}

        <option value="{{ path('home', {"_locale": key}) }}" {{ selected }} >{{ value }}</option>
        {% endfor %}
    </select>
</form>
