{% set currentRoute = app.request.get('_route') %}

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="{{ url('home') }}">{% trans %}Home{% endtrans %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if currentRoute != 'current_user' %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('current_user') }}">{% trans %}My User{% endtrans %}</a>
                </li>
                {% endif %}

                {% if currentRoute != 'my_responses' %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('my_responses') }}">{% trans %}My Responses{% endtrans %}</a>
                </li>
                {% endif %}

                <li class="nav-item" >
                    <a class="nav-link" href="{{ url('app_logout') }}">{% trans %}Sign Out{% endtrans %}</a>
                </li>
            {% else %}
                {% if currentRoute != 'app_login' %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('app_login') }}">{% trans %}Sign In{% endtrans %}</a>
                </li>
                {% endif %}

                {% if currentRoute != 'app_register' %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('app_register') }}">{% trans %}Sign Up{% endtrans %}</a>
                </li>
                {% endif %}
            {% endif %}

        </ul>

        {% include 'parts/locale-switcher.html.twig' %}

    </div>
</nav>