{% if is_granted('ROLE_BLOCKED') %}
<div class="alert alert-danger"  role="alert">
    {% trans %}You are blocked!{% endtrans %}
</div>
{% endif %}

{% for label, messages in app.flashes %}
{% for message in messages %}
<div class="alert alert-{{ label }}"  role="alert">
    {{ message }}
</div>
{% endfor %}
{% endfor %}