{% extends 'base.html.twig' %}

{% block title %}{% trans %}User{% endtrans %} {{ user.username }}{% endblock %}

{% block body %}

{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
